In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append('../')

import pandas as pd
import re
from etl import enron_parse

download email.csv from here: https://www.kaggle.com/wcukierski/enron-email-dataset

make sure to put it in the same directory as where NLU-email-title folder is at.

## Original Dataset

Total 517401 entries.

In [25]:
df = pd.read_csv('../data/raw/emails.csv')

In [3]:
df.head()

                       file                                            message
0     allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1    allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2   allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...
3  allen-p/_sent_mail/1000.  Message-ID: <13505866.1075863688222.JavaMail.e...
4  allen-p/_sent_mail/1001.  Message-ID: <30922949.1075863688243.JavaMail.e...

In [38]:
len(df.message)

517401

## Parsed Dataset
- with only original emails (now total 293291 entries)
- cleaned the body to only have raw text left

In [5]:
# parsed_All = enron_parse.parse_all(df.message)

100%|██████████| 517401/517401 [04:47<00:00, 1800.46it/s]

In [9]:
# df = pd.DataFrame(parsed_All).loc[:,['Subject','Body']]

In [10]:
# df.to_csv('ALL_data.csv',index=False)

In [31]:
data = pd.read_csv('../data/interim/data_first_only_ALL.csv')

In [32]:
data.shape

(293291, 2)

In [28]:
'''sampling 1000 entries for now to cut down runtime'''
docs = data.sample(1000)

In [34]:
data_small = pd.read_csv('../data/interim/data_first_only_1000.csv')

In [35]:
data_small.shape

(1000, 2)

In [36]:
data_small.head()

,Subject,Body
0,KTL Inc.,We have received an executed Master Agreement:...
1,are you a democrat ?,http://messages.yahoo.com/bbs?.mm=FN&action=m&...
2,Napoleonville Storage - Dow and ESC,"Ned, the table below shows indicative values f..."
3,GE's comments,"Gentlemen, Attached are GE's comments which I..."
4,(00-421)Reminder of Price Fluctuation Limits A...,"Notice No. 00-421 December 12, 2000 MEMORANDU..."